* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50vw;
    align-items: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    /* width: 350px; */
    max-width: 100%;
}
